body {
  font-family: "Roboto", sans-serif ;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 117%;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #434455;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}

.section {
  padding: 120px 0px 120px 0px;
}
 
/* =============header==================== */

.page-header {
  /* border-bottom: 1px solid #e7e9fc - рамка кольор*/
  border-bottom: 1px solid #e7e9fc;  
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 12px;
  padding-bottom: 12px;
}

.container {
  max-width: 767px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
  align-items: center; 
  flex-grow: 1;
  justify-content: space-between;
  
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-left: 10px;
  margin-right: 149px;
  width: 115px;
}

.logo-header-studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mob-menu-btn {
  width: 24px;
  height: 24px;
  position: relative;
  background-color: #e7e9fc;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.mob-menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2f2f37;
}

/* .nav-link-list викл.дисплей (display: flex) */
.nav-link-list {
  display: none;
  gap: 40px;
  margin-right: 332px;
}

.nav-link-item  {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-item:hover {
  color: #404BBF;
}

.nav-link-item:focus {
  color: #404BBF;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

/* .contacts вимк.дісплей */
.contacts {
  font-style: normal;
  display: none;
  
}

.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
  align-items: center;
  
}

.contacts-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover {
  color: #404BBF;
}

.contacts-item:focus {
  color: #404BBF;
}

/* ============== */

/* ======================hero================= */


.box {
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-mob.jpg);
  padding-top: 72px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 767px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/dark-mob-2x.jpg);
  }
}


.page-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  padding-bottom: 48px;
  width: 216px;
  
}

button {
  margin: 0 auto;
  letter-spacing: 0.04em;
}

.order-button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
  background-color: #404BBF;
}

.order-button:focus {
  background-color: #404BBF;
}
/* section 2 */

.hidden {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
  padding-left: 0;
  margin: 0;
}

.features-item {
  width: 100%;
}

.features-item-wrapper {
width: 264px;
height: 112px;
background-color: #F4F4FD;
display: none;
justify-content: center;
align-items: center;
margin-bottom: 8px;
max-width: 264px;
border-radius: 4px;
border: 1px solid #8E8F99;
}

.features-item-icon {

}

.features-list-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.features-text {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}  

/* ========================= */

/* ========================team==================== */

.team {
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
  
}

.team-container {
  width: 296px;
}

.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-card-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 74px;
  flex-direction: column;
}

.team-card-item {
  background-color: #ffffff;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-text {
  padding: 32px 0;
}

.team-card-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-icons {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons:hover {
  background-color: #404BBF;
}

.team-icons:focus {
  background-color: #404BBF;
}

.team-icon {
  fill: #f4f4fd;
}

/* ======================= */

/* ==================portfolio==================== */

.portfolio {
  background-color: #ffffff;
  padding: 120px 0px 120px 0px;
}

.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-project-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
   row-gap: 48px;

  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 100%;

  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-wpap {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.portfolio-cover-text {
  top: 0;
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  background-color: #4D5AE5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  display: flex;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subtitletext {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-project-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==================== */

/* ========================footer================= */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}  

.footer-log {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
  text-decoration: none;
  align-self: center;
  width: 116px;
}

.logo-footer-studio {
  color: #f4f4fd;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 285px;
}

.footer-social {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.footer-social-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  margin-left: 90;
}

.footer-social-item {
  height: 40px;
  width: 40px;
}

.footer-icons {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icons:hover {
  background-color: #31d0aa;
}

.footer-icons:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  flex-direction: column;
  width: 288px;

}

.form-title {
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px; 
}

.input::placeholder {
  color: #fff;
}

.footer-subscribe-email {}

.subscribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-input:focus-within {
  border-color: #4d5ae5;
}

.footer-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  align-items: center;
  color: #fff;
  background-color: #4d5ae5;;
  display: flex;
  min-width: 165px;
  justify-content: center;
  flex-direction: row;
  min-width: 165px;
  height: 40px;
  gap: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  background-color: #404bbf;
}

.footer-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
}


/* =====================MODAL-OVERLEY============= */

.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  align-self: flex-end;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .close-button-icon {
  fill: #ffffff;
}
.close-modal:focus .close-button-icon {
  fill: #ffffff;
}

.close-modal:focus {
  background-color: #404bbf;
  border: none;
}
.close-modal:hover {
  background-color: #404bbf;
  border: none;
}

.close-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  width: 100%;
}

.modal-form-box {
  
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  position: relative;
  display: block;
}

.modal-input-box {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border-color: #4d5ae5;
}

.modal-input:focus-within+.modal-icon {
  fill: #4d5ae5;
}



.modal-form-comment {
  margin-bottom: 16px;
}

.modal-label {}

.textarea {
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.checkbox-checked {}

.checkbox-checked:checked+.checkbox-label>.modal-icon-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-icon-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  position: relative;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {}

.checkbox-checked:checked+.checkbox-label>.modal-icon-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.send-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover {
  background-color: #404bbf;
}


/* ==========MOBILE-MENU========= */

.mobile-menu {
  background: #fff;
  padding: 72px 16px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-menu-close {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
}


.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  flex-grow: 1;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 0;
}

.menu-cur {
  color: #404bbf;
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 48px;}

.mobile-contacts-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;}

.contacts-cur {
  color: #4d5ae5;
}

.mobile-menu-soc {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-left: 0;
}



  /* ========================TABLET==================== */

@media (min-width: 768px) and (max-width: 1157px) {
    .mobile-menu {
      display: none;
    }
  
    .team-container {
      width: 584px;
    }
  
    .container {
      max-width: 1157px;
    }
  
    .header-logo {
      margin-right: 120px;
    }
  
    .mob-menu-btn {
      display: none;
    }
  
    .header-nav {
      display: flex;
    }
  
    .nav-link-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 40px;
      margin-right: 121px;
    }
  
    .nav-link-item {
      font-weight: 500;
      line-height: 1.5;
      color: #2e2f42;
      letter-spacing: 0.02em;
      padding: 24px 0;
      display: block;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .current {
      position: relative;
      color: #404bbf;
    }
  
    .current::after {
      display: block;
      content: '';
      position: absolute;
      border-radius: 2px;
      width: 48px;
      height: 4px;
      border: 2px solid #404bbf;
      background-color: #404bbf;
      bottom: -1px;
    }
  
    .contacts {
      display: inline;
      font-style: normal;
    }
  
    .contacts-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 12px;
    }
  
    .nav-link-item {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      color: #434455;
      letter-spacing: 0.02em;
    }
  
    .section {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  
    .box {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/dark-tab.jpg);
      padding-top: 112px;
      padding-bottom: 112px;
      max-width: 768px;
    }
  
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .box {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/dark-tab-2x.jpg);
      }
    }
  
    .page-heading {
      font-size: 56px;
      line-height: 1.07;
      width: auto;
      max-width: 496px;
      margin-bottom: 48px;
    }
  
    .order-button {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .features-list {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      row-gap: 72px;
      column-gap: 24px;
      flex-wrap: wrap;
    }
  
    .features-item {
      width: calc((100% - 24px) / 2);
    }
  
    .features-list-heading {
      text-align: left;
    }
  
    .team-heading {
      justify-content: flex-start;
      flex-direction: row;
      row-gap: 64px;
      column-gap: 24px;
      flex-wrap: wrap;
    }
  
    .team-card-item {
      width: calc((100% - 24px) / 2);
    }
  
    .team-card-foto {
      margin: 0 auto;
    }
  
    .team-icons {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
  
    /* ------------Out portfolio------------- */
  
    .portfolio-project-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: row;
      column-gap: 24px;
      row-gap: 72px;
    }
  
    .portfolio-item {
      width: calc((100% - 24px) / 2);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .subtitletext {
      order-bottom: 1px solid #e7e9fc;
      border-left: 1px solid #e7e9fc;
      border-right: 1px solid #e7e9fc;
      padding: 32px 16px;
    }
  
    /* ------------------FOOTER--------------- */
  
    .page-footer {
      background-color: #2e2f42;
      padding-top: 96px;
      padding-bottom: 96px;
    }
  
    .footer-wrapper {
      align-items: baseline;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: 0;
      width: 584px;
    }
  
    .footer-log {
      margin-right: 24px;
    }
  
    .footer-logo {
      margin-bottom: 16px;
      align-self: start;
    }
  
    .footer-title {
      width: 264px;
    }
  
    .footer-social {
      margin-right: 80px;
    }
  
    .footer-social-head {
      text-align: left;
    }
  
    .footer-social-list {
      margin-left: 0;
    }
  
    .footer-subscribe {
      width: 453px;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  
    .form-title {
      align-self: start;
    }
  
    .footer-form {
      flex-direction: row;
      gap: 24px;
    }
  
    .subscribe-input {
      width: 264px;
      height: 40px;
      padding-left: 16px;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #fff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background-color: transparent;
      outline: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .footer-button {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    /* ----------------tablet modal----------------- */
  
    .modal {
      width: 408px;
      min-height: 584px;
      padding: 72px 24px 24px 24px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .close-modal {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .close-button-icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .modal-form {
      width: 360px;
    }
  
    .modal-form {
      width: 360px;
    }
  
    .modal-input:focus-within {
      border-color: #4d5ae5;
    }
  
    .modal-input:focus-within+.modal-icon {
      fill: #4d5ae5;
    }
  
    .modal-icon-checkbox {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .send-button {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

